<div class="wrapper">
  <app-topbar></app-topbar>
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <app-right-side-breadcoms></app-right-side-breadcoms>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <app-footer></app-footer>
</div>
